 
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  .card-login {
    background: #ffffff;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 10px;
    border: 7px solid rgb(89, 89, 156);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
  }
  
  

  
 